@{
    ViewData["Title"] = "Add a new element";
}

@model Beast_Blitz.Domain.Models.Element

<form asp-action="AddNewElement" asp-controller="Admin" method="post">
    
    <label asp-for="Name"></label>
    <input type="text" asp-for="Name" class="form-control">

    <button type="submit" class="btn btn-dark my-3">Add Element</button>
</form>