<h5 class="text-center my-2">What would you like to do?</h5>
<form action="" class="my-1">
    <button class="form-control btn btn-dark">Play</button>
</form>
<form action="" class="my-1">
    <button class="form-control btn btn-dark">Feed</button>
</form>
<form action="" class="my-1">
    <button class="form-control btn btn-dark">Clean</button>
</form>