@{
    ViewData["Title"] = "_UserName's Profile";
}

<h3>_UserName's Profile</h3>

<div id="profile" class="row border shadow m-2">
    <div class="col-lg-4">
        <div class="row mx-2 my-3">
            <div class="col-12 m-2 border shadow">
                <img id="beastsprite" src="/img/slime.gif" alt="Player beast" class="img-fluid pt-2">
                
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td id="name">_PetName</td>
                    </tr>
                    <tr>
                        <td>Birthday</td>
                        <td id="bday">January 1, 2019</td>
                    </tr>
                </table>

                <div class="row" id="stats">
                    <div class="col-4">
                        <i class="fas fa-smile-beam mx-auto" data-toggle="tooltip" data-placement="top" title="Happiness"></i>
                    </div>
                    <div class="col-4">
                        <i class="fas fa-drumstick-bite mx-auto" data-toggle="tooltip" data-placement="top" title="Hunger"></i>
                    </div>
                    <div class="col-4">
                        <i class="fas fa-bath mx-auto" data-toggle="tooltip" data-placement="top" title="Cleanliness"></i>
                    </div>
                </div>
                <div class="row my-1" id="statnum">
                    <div class="col-4" id="happynum">
                        100/100
                    </div>
                    <div class="col-4" id="foodnum">
                        100/100
                    </div>
                    <div class="col-4" id="cleannum">
                        100/100
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-6">
                        <i class="fas fa-arrow-left arrow"></i>
                    </div>
                    <div class="col-6">
                        <i class="fas fa-arrow-right arrow"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row mx-2 my-3">
            <div class="col-12 m-2 border shadow">
                placeholder
            </div>
        </div>
    </div>
</div>