@{
    ViewData["Title"] = "Care For Your Team";
}

<h4 class="text-center my-2">Your Beasts</h4>

<div class="row">
    <div class="col-4">
        <a asp-controller="User" asp-action="Pet" asp-route-petId="1">
            <img src="/img/rat.gif" class="img-fluid">
        </a>
    </div>
    <div class="col-4">
        <a asp-controller="User" asp-action="Pet" asp-route-petId="1">
            <img src="/img/snake.png" class="img-fluid">
        </a>        
    </div>
    <div class="col-4">
        <a asp-controller="User" asp-action="Pet" asp-route-petId="1">
            <img src="/img/slime.gif" class="img-fluid">            
        </a>
    </div>
</div>