<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Beast Blitz</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Fira+Sans|Fontdiner+Swanky&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <a asp-area="" asp-controller="Home" asp-action="Index"><h1 id="title">Beast Blitz</h1></a>
            <div class="align-right">
                @Html.Partial("_LoginPartial")
            </div>
        </header>
        <div class="row">
            <div class="col-3">
                <ul class="nav-main nav flex-column jumbotron">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-action="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Profile" asp-controller="User">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Inventory" asp-conroller="User">Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Battle" asp-controller="World">Battle</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Shop" asp-controller="World" class="nav-link">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Help" asp-controller="Home" class="nav-link">Help</a>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <div class="col-3">
                <div class="jumbotron">
                    Site updates/status
                </div>
            </div>
        </div>
        <footer class="border-top footer text-muted">
            &copy; 2019 - Team 7 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </footer>
    </div>

    
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>