@model List<Beast_Blitz.Domain.Models.Shop>

<h2 class="my-3">World Shops</h2>

<div class="shopcontainer">
    <a asp-action="Shop" asp-controller="World" asp-route-shopId="1">
        <div class="shop my-3">
            <div class="row">
                <div class="col-4">
                    <img src="/img/shop/shop1.png" alt="" class="img-fluid">
                </div>
                <div class="col-8">
                    <h3>Shop1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus soluta quod voluptate amet cum maiores assumenda quis harum quae alias. Eius laudantium consequatur veritatis quisquam, vitae accusantium sint voluptatum dolore.</p>
                </div>
            </div>
        </div>
    </a>

    <a asp-action="Shop" asp-controller="World" asp-route-shopId="1">        
        <div class="shop my-3">
            <div class="row">
                <div class="col-4">
                    <img src="/img/shop/shop1.png" alt="" class="img-fluid">
                </div>
                <div class="col-8">
                    <h3>Shop2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, possimus? Ipsum exercitationem repellendus officiis fugiat delectus ullam. Et quas hic repellat sunt, autem officia animi repudiandae obcaecati ea consequuntur dolorum?</p>
                </div>
            </div>
        </div>
    </a>

    <a asp-action="Shop" asp-controller="World" asp-route-shopId="1">    
        <div class="shop my-3">
            <div class="row">
                <div class="col-4">
                    <img src="/img/shop/shop1.png" alt="" class="img-fluid">
                </div>
                <div class="col-8">
                    <h3>Shop3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis at laudantium earum ab totam excepturi quae maxime iusto cumque voluptatum. Vero, exercitationem consequuntur! Commodi fugiat asperiores, cumque amet sed consequatur.</p>
                </div>
            </div>
        </div>
    </a>
</div>