@model Beast_Blitz.Domain.Models.Shop

<h3>_ShopName</h3>

<div class="row">
    <div class="col-8 border shadow rounded">
        <div id="inventory">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                </li>
                <li class="list-inline-item">
                    <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                </li>
                <li class="list-inline-item">
                    <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                </li>
                <li class="list-inline-item">
                    <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                </li>
                <li class="list-inline-item">
                    <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                </li>
                <li class="list-inline-item">
                    <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                </li>
                <li class="list-inline-item">
                    <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                </li>

                <li class="list-inline-item">
                    <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                </li>
                <li class="list-inline-item">
                    <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                </li>
                <li class="list-inline-item">
                    <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                </li>
                <li class="list-inline-item">
                    <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                </li>
                <li class="list-inline-item">
                    <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                </li>
                <li class="list-inline-item">
                    <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                </li>
                <li class="list-inline-item">
                    <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                </li>
            </ul>
        </div>
    </div>