<table class="table my-3">
    <caption><h3>Armors</h3></caption>
    <tr>
        <th>ItemID</th>
        <th>Image</th>
        <td>Name</td>
        <th>Defense</th>
        <th>Buy Cost</th>
        <th>Action</th>
    </tr>
    @foreach(var item in ViewBag.Armors)
    {
    <tr>
        <td>@item.ItemID</td>
        <td><img src="/img/item/item.Image" alt="@item.Name"></td>
        <td>@item.Name</td>
        <td>+@item.Defense</td>
        <td>@item.BuyCost G</td>
        <td>
            <form action="" method="post">
                <button type="submit" class="btn btn-link" href="">Edit</button>
            </form>
            <form action="" method="post">
                <button type="submit" class="btn btn-link" href="">Remove</button>
            </form>
        </td>
    </tr>
    }
    <tr>
        <td>item.ItemID</td>
        <td><img src="/img/item/potion.png" alt="potion.png"></td>
        <td>item.Name</td>
        <td>item.Defense</td>
        <td>item.BuyCost</td>
        <td>
            <form action="" method="post">
                <button type="submit" class="btn btn-link" href="">Edit</button>
            </form>
            <form action="" method="post">
                <button type="submit" class="btn btn-link" href="">Remove</button>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="3"><a asp-action="AddNewArmor" asp-controller="Admin" class="btn">Add New Armor...</a></td>
    </tr>
</table>
