@if(ViewBag.UserLevel == 2)
{
    <form asp-action="Logout" asp-controller="User" method="post" class="float-right">
        <button type="submit" class="btn btn-dark">Logout</button>
    </form>
}
else{
    <form asp-action="Login" asp-controller="User" method="post">
    <table class="login">
        <tr>
            <td><label for="Username">Username</label></td>
            <td><input type="text" name="Username" class="form-control" required></td>
        </tr>
        <tr>
            <td> <label for="Password">Password</label></td>
            <td><input type="password" name="Password" class="form-control" required></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" class="form-control btn btn-dark">Login</button>
        </tr>
        <tr>
            <td></td>
            <td>Not a member? <a asp-controller="User" asp-action="Register" asp-route-uid='@TempData["UserId"]'>Register here!</a></td>
        </tr>
    </table>
</form>
}