/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #470E3F;
}

.table td:first-child {
  text-align: right;
}
.container {
  width: 1140px;
  background-color: #EDE9E6;
  min-height:800px;
}

.container .col-6, .container .col-3{
  min-height:800px;
}

.container h1 {
  font-family: 'Bangers', cursive;
}

.container h2 {
  font-family: 'Fontdiner Swanky', cursive;
  text-align:center;
}

.nav-main li {
  transition: 0.2s;
}

.nav-main li:hover{
  opacity:1;
  background-color: #efc79b;
  border-radius: 3px;
}

.footer {
  text-align:center;
  width: inherit;
  white-space: nowrap;
  background-color: #EDE9E6;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

header {
  padding:20px;
  border-bottom: 1px solid #470e3f7e;
  margin-bottom:15px;
  background-color:#AF1b3F;
  height:175px;
  border-radius: 0px 0px 4px 4px;
}

#title {
  float:left;
  color:black;
}

#profile, #profile .col-12 {
  min-height:500px;
}

#stats {
  font-size: 40px;
  text-align: center;
}

#stats i {
  border: 1px solid rgb(83, 19, 19);
  padding:3px;
}

#statnum {
  font-size: 12px;
  text-align: center;
}

#inventory img {
  padding:5px;
  margin:5px;
  width:80px;
  height:80px;
}

.inv-img {

}
.inv-img:hover {
  border-color: #470e3f!important;
}

header a:hover {
  color:black;
  text-decoration: none;
}

.nav-link {
  color:black;
  font-size:18px;
  font-family: 'Fira Sans', sans-serif;
}

.nav-link:hover {
  color: #470e3f;
}

.jumbotron{
  padding-top:1em;
  background-color:#df9b6d;
  min-height:400px;
}

.login {
  float: right;
}

.login tr td:first-child {
  text-align: right;
  padding:5px;
}