@{
    ViewData["Title"] = "Inventory"; 
}

<div class="row">
    <h4>Inventory</h4>
    <div class="col-12 border shadow rounded">
            <div id="inventory">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                    </li>
                    <li class="list-inline-item">
                        <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                    </li>
                    <li class="list-inline-item">
                        <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                    </li>
                    <li class="list-inline-item">
                        <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                    </li>
                    <li class="list-inline-item">
                        <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                    </li>
                    <li class="list-inline-item">
                        <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                    </li>
                    <li class="list-inline-item">
                        <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                    </li>

                    <li class="list-inline-item">
                        <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                    </li>
                    <li class="list-inline-item">
                        <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                    </li>
                    <li class="list-inline-item">
                        <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                    </li>
                    <li class="list-inline-item">
                        <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                    </li>
                    <li class="list-inline-item">
                        <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                    </li>
                    <li class="list-inline-item">
                        <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                    </li>
                    <li class="list-inline-item">
                        <img src="/img/potion.png" alt="_ItemName" class="img-rounded border inv-img" data-toggle="tooltip" data-placement="bottom" title="_ItemName">
                    </li>
                </ul>
            </div>
    </div>
</div>